table {
    width: 100%;
    margin: 5px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 1px;
    overflow: hidden;
}

thead {
    background: #c6b48c;
    color: white;
}

th, td {
    padding: 12px 16px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background: #f2f2f2;
}

tbody tr:hover {
    background: #faf6ed;
}
tbody tr {
    cursor: pointer;
}

.book-list-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
}

.print-btn {
  margin-bottom: 10px;
  padding: 6px 12px;
  border: none;
  background: #886d3f;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.print-btn:hover {
  background: #705934;
}